@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans, "Geist", ui-sans-serif, system-ui, Arial, sans-serif);
  --font-mono: var(--font-geist-mono, "Geist Mono", ui-monospace, monospace);
  --color-darker: #0b4f6c;
  --color-dark: #145c9e;
  --color-neutral: #cbb9a8;
  --color-pale: #dcc7be;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
